.padding {
  padding: 1em;
}

.home-button.MuiButtonBase-root {
  width: 12em;
  background-color: #ffd01c;
  color: #261a2f;
  font-family: "Lexend", Sans-serif;
  border-radius: 40px;
  height: 3em;
  margin-top: 1em;
  font-weight: 600;
  font-size: 14px;
}

.home-button.MuiButtonBase-root:hover {
  background-color: #fcb900;
}

.table-margin {
  margin-top: 3em;
}

.title {
  text-align: center;
}
