.home {
  &-about-text {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-container {
    padding: 1em;
  }

  &-filter-container {
    margin: 2em 0 1em;
    display: flex;
    align-items: center;
  }

  &-button.MuiButtonBase-root {
    width: 12em;
    font-family: "Lexend", Sans-serif;
    border-radius: 40px;
    height: 3em;
    margin: 0 1.5em;
    font-weight: 600;
    font-size: 14px;
  }

  &-icon-color {
    color: #261a2f;
  }

  &-table {
    margin: 1em 0 2em;
    background-color: #fff;
    min-height: 60vh;
    width: 100%;
  }

  &-table.MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within {
    outline: none !important;
  }
  &-table.MuiDataGrid-root .MuiDataGrid-cell:focus-within {
    outline: none !important;
  }
  &-title {
    text-align: center;
  }
}
