.input-margin.MuiTextField-root {
  margin-top: 0.5em;
}

.date-margin.MuiTextField-root {
  margin: 0.3em 1em 0.3em 0;
}

.remove-button.MuiButtonBase-root {
  width: 10em;
  font-family: "Lexend", Sans-serif;
  border-radius: 40px;
  height: 3em;
  margin: 1em;
  font-weight: 600;
  font-size: 14px;
}

.card {
  width: 100%;
}
