.projects {
  &-table {
    margin: 1em 0 2em;
    background-color: #fff;
    min-height: 40vh;
    width: 100%;
  }

  &-table.MuiDataGrid-root .MuiDataGrid-columnHeaderTitle {
    font-weight: 700;
    color: #3a2e41;
  }

  &-table.MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within {
    outline: none !important;
  }

  &-table.MuiDataGrid-root .MuiDataGrid-cell:focus-within {
    outline: none !important;
  }

  &-title {
    text-align: center;
    margin: 1.5em;
    font-family: Lexend;
  }
}
